/* src/components/Navbar.module.css */

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Left, center, right */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.722); /* Single color background */
  padding: 0 2rem;
  height: 15vh; /* Adjust as needed (10-20% of viewport height) */
  width: 60%;
}

.leftSection {
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.centerSection {
  text-align: center;
}

.navTitle {
  font-family: "Protest Guerilla";
  font-size: 2.7rem;
  color: #ffffff;
  margin: 0;
}

.titleImage {
  width: 65px; /* Adjust width as needed */
  height: auto;
}

.titleWrapper {
  margin-top: 1rem;
}

.rightSection {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.navLink {
  color: #ffffff; /* Base color for icons */
  font-size: 1.2rem; /* Adjust icon size as needed */
  transition: color 0.3s ease;
}

.navLinkText {
  color: #ffffff; /* Base color for icons */
  font-size: 0.9rem; /* Adjust icon size as needed */
  transition: color 0.3s ease;
  font-family: "Kantumruy Pro";
}

.navLink:hover {
  color: #ffcc00; /* Change to a contrasting color on hover */
}
